@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #081b29;
  --secend-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: #081b29;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  outline: 0;
  border: none;
  visibility: hidden;
  opacity: 0;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background-image: url('/images/man.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.home-content {
  max-width: 70rem;
}

nav a {
  margin-left: 2em;
  font-size: 1.7rem;
  font-weight: 500;
}

nav a.active {
  color: #00abf0;
}

.home-content .text-animate h2 {
  font-size: 3.1rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .7px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: homeBgText 5s linear infinite;
  animation-delay: 2s;
}

.home-content .text-animate h2::before {
  content: '';
  position: absolute;
  top: 20.4rem;
  left: 12.2rem;

  width: 0;
  height: 6%;
  border-right: 2px solid var(--main-color);
  z-index: -1;
  animation: homeCursorText 5s linear infinite;
  animation-delay: 2s;
}

.home p {
  margin: 2rem 0 4rem;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 32.4rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: 1rem;
  font-size: 1.6rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(1) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(1):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(1)::before {
  background: var(--main-color);
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-color);
  height: 100%;
  width: 0;
  z-index: -1;
  transition: .5s;
}

.btn-box .btn:hover::before {
  width: 100%
}

/* .home-icon {
  position: absolute;
  bottom: 4rem;
  width: 200px;
  justify-content: space-between;
} */

.home-icon a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 1rem;
  font-size: 2rem;
  border-radius: 50%;
  color: var(--main-color);
  margin-right: 20px;
  overflow: hidden;
  z-index: 1;
}

.home-icon a:hover {
  color: var(--bg-color);
}

.home-icon a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: var(--main-color);
  height: 100%;
  width: 0;
  z-index: -1;
  transition: .5s;

}

.home-icon a:hover::before {
  width: 100%;
}

.imgHover {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 100%;
  width: 45%;
  transition: .5s;

  transition: 3s;
}

.imgHover:hover {
  background: var(--bg-color);
  opacity: .8;
}

/* about section */
.about {
  padding: 0 9%;
  /* background: var(--secend-bg-color); */
  padding-bottom: 6rem;
}

span {
  color: var(--main-color);
}

.about-img {
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
}

.about-img img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: .3rem solid var(--main-color)
}

.about-img .circle-sain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid var(--secend-bg-color);
  border-bottom: .2rem solid var(--secend-bg-color);
  border-left: .2rem solid var(--main-color);
  border-right: .2rem solid var(--main-color);
  animation: spiner 5s linear infinite;
}

.about-content p {
  margin: 2rem 0 3rem;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns button::before {
  background: var(--secend-bg-color);
}

/* education section */
.education {

  padding: 0 9%;
}

.education-row .education-col {
  flex: 1 1 40rem;
}

.education-col .title {

  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.education-col .education-box {
  border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
  position: relative;
  margin-left: 2rem;
}

.education-box .education-content::before {
  position: absolute;
  content: '';
  top: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--main-color);
  left: -3.1rem;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: .2rem solid var(--main-color);
  border-radius: 5px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.education-content .content::before {
  content: '';
  position: absolute;
  background: var(--secend-bg-color);
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: 1s;
  z-index: -1;
}

.education-content .content:hover::before {
  width: 100%;
}

.education-content .content .calender {
  font-size: 1.5rem;
  margin-right: 10px;
}

.education-content .content .year {
  display: flex;

  font-size: 1.3rem;
  color: var(--main-color);
  padding-bottom: 1rem;

}

.education-content .content h3 {
  font-size: 2rem;
}

.education-content .content p {
  font-size: 1.5rem;
  padding-top: .5rem;
  color: darkgray
}

/* skills section */
.skills {
  padding: 0 9%;
  min-height: auto;
  padding-bottom: 7rem;
}

.container {
  display: flex;
  gap: 2rem;
  position: relative;
  width: 100%;
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 7px;


}
.skills-col{
  flex: 1 1 40rem;
}
.skills-row {
  display: flex;
  flex-wrap: wrap;
  height: 30rem;
  border: .2rem solid var(--main-color);
}

.container .skill-box {
  width: 100%;
  margin: 2px 0;
  padding: .5rem 1.4rem;
  border-radius: 4px;
  /* border: .2rem solid var(--main-color); */
}

.skill-box .title {
  display: block;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.skill-box .skill-bar {

  width: 100%;
  margin-top: 6px;
  border-radius: 6px;
  background: rgba(156, 115, 115, 0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  width: 90%;
  border-radius: 6px;
  background: #4070f4;
  animation: progress .8s ease-in-out forwards;
  border: .6px solid white;
  padding: 3px 6px;
  margin: 4px 4px;


}

.skill-bar .css {
  width: 80%;
}

.skill-bar .java {
  width: 70%;
}

.skill-bar .react {
  width: 80%;
}

.skill-bar .css {
  width: 80%;
}

.skill-bar .design {
  width: 60%;
}

.skill-bar .develop {

  width: 80%;
}

@keyframes progress {
  0% {
    width: 0;
  }

  100% {
    opacity: 1;
  }
}


.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #4070f4;
  z-index: 1;

}

.tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background: #4070f4;
  transform: translate(-50%) rotate(45deg);
}


/* contact section */
.contact {
  min-height: auto;
  padding-bottom: 7rem;
  padding: 0 9%;
}

.contact form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--secend-bg-color);
  border-radius: .7rem;
  transition: .3s;
  z-index: -1;
}

.contact form .input-box .input-falied input:focus~.focus,
.contact form .input-box .input-falied input:valid~.focus,
.contact form .textarea-input textarea:focus~.focus,
.contact form .textarea-input textarea:valid~.focus {
  width: 100%;
}

.contact form .input-box .input-falied {
  position: relative;
  width: 49%;
  margin: .8rem 0;
}

.contact form .input-box .input-falied input,
.contact form .textarea-input textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--main-color);
  background: transparent;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
}

.contact form .input-box .input-falied input::placeholder,
.contact form .textarea-input textarea::placeholder {
  color: var(--text-color);
}

.contact form .textarea-input {
  position: relative;
  margin: .8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-input textarea {
  resize: none;
}

.contact form .btn-box.btns .btn {
  cursor: pointer;
}

/* footer section */
.footer {
  padding: 1rem 7%;
  background: var(--secend-bg-color);
}

.icon a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: 3px;
  z-index: 1;
  overflow: hidden;
}

.icon a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--secend-bg-color);
  z-index: -1;
  transition: .5s;
}

.icon a:hover::before {
  width: 100%;
}







/* break points */
@media (max-width:1200px) {
  html {
    font-size: 55%;
  }

  header nav {
    position: fixed;
    padding-top: 5rem;
    top: 0;
    left: -2rem;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    gap: 1.5rem;
    transform: translateY(-100vh);

  }

  header .responsive_nav {
    transform: none;
  }

  header .nav-btn {
    visibility: visible;
    opacity: 1;
    font-size: 1.9rem;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  @keyframes homeCursorText {

    0%,
    10%,
    100% {
      width: 0;
    }

    65%,
    78%,
    85% {
      width: 100%;
      opacity: 1;
    }

    75%,
    81% {
      opacity: 0;
    }
  }


}

@media (max-width:900px) {
  .home-content .text-animate h2::before {

    border-right: 0;

  }
}


@media (max-width:768px) {
  .header {
    background: var(--bg-color);
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 4%;
    background: var(--bg-color);
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
  }

  .home-content .text-animate h2::before {
    border-right: 0;
  }




}

@media (max-width:520px) {
  html {
    font-size: 50%;
  }

  .home h1 {
    display: flex;
    flex-direction: column;
  }

  .home-content .text-animate h2::before {
    border-right: 0;
  }
  .container{
    display: block;
 
  }
  .skills-col{
    margin:0 0 8rem 0;
  }
  .skill-box .title {
    
    font-size: 16px;
    font-weight: 400;
  
  }
}

@media (max-width:462px) {
  .home h1 {
    font-size: 5.2rem;
  }

  .contact form .input-box .input-falied {
    width: 100%;
  }

  .footer {
    flex-direction: column-reverse;
    gap: 14px;
  }

  .home-content .text-animate h2::before {
    border-right: 0;
  }

}

@media (max-width:371px) {
  .home {
    justify-content: center;
  }

  .home-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .home-content .text-animate h2::before {
    border-right: 0;
  }
}

/* keyframse animation */
@keyframes homeBgText {

  0%,
  10%,
  100% {
    background-position: 0 0;
  }

  65%,
  85% {
    background-position: 33rem 0;
  }
}

@keyframes homeCursorText {

  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 23%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

@keyframes spiner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}